/* common css */
* {
    margin: 0;
    padding: 0;
}


.common-btn {
    background: #E55473;
    color: #ffff;
    padding: 20px 43px;
    border: none;
    border-radius: 10px;

}

.common-mid-header {
    text-align: center;
    color: #272727;
    font-size: 40px;
    margin-bottom: 25px;
}

.common-mid-descrip {
    width: 594px;
    margin: auto;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;

}

/* Header styles */

.header-container {
    display: flex;
    align-items: center;
    /* justify-items: center; */
    background-color: #E554731A;
    padding-right: 240px;
    padding-left: 240px;
    padding-top: 50px;
    width: 100%;
    height: 850px;
}

.banner-half {
    width: 50%;
    padding: 10px, 10px;
}

.header-title {
    height: 288x;
    width: 708px;
    font-size: 80px;
    font-weight: 800;

}

.header-descrip {
    padding: 10px 0;
    width: 634px;
    height: 90px;
    font-size: 18px;
    color: #27272799;
}

.banner-img {
    margin: auto;
    width: 635PX;
    height: 800px;
}

/* Main Body Styles */
.main-body-title {
    margin-top: 180px;
}


/* featured-flowers-section */

.featured-flowers-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 48px 240px 128px 240px;
    /* background-color: yellow; */
    /* background-position: bottom; */
    /* position: relative; */
}



.featured-flowers {
    height: 538px;
    width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 32px;
    /* position: absolute; */

}

.featured-flowers img {
    width: 65%;

}

.featured-flowers-section p {
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.hot-deal-container {
    display: flex;
    align-items: center;
    justify-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding-right: 240px;
    padding-left: 240px;
    padding-top: 50px;
    height: 620px;
    width: 100%;
    margin-top: 128px;
    margin-bottom: 128px;
}


/* inista-imgs-container */
.inista-imgs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 48px 240px 128px 240px;
}

/* <!-- Latest Deal Section --> */

.deal-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 130px;
    /* background-image: url(Flower\ Asset/); */
    background-repeat: no-repeat;
    background-color: beige;
    height: 449px;
    margin-left: 240px;
    margin-right: 240px;
}

.input-container {
    margin-top: 50px;
    text-align: center;
}

.email-input {
    height: 14px;
    width: 700px;
    border: none;
    border-radius: 10px;
    padding: 22px;
    margin-right: 16px;
}


/* Footer Styles */

footer {
    background-color: black;
    /* height: 450px; */
    text-align: center;
}

.footer-container {
    padding-top: 225px;
    padding-bottom: 225px;
}